* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: sans-serif;
    line-height: 1.1
}

.container {
    background-color: blue;
    color: #fff;
}

.firstImg {
    width: 25vw;
    margin: 0.5vw;
}

.firstImgDev {
    background-color: #fff;
    width: 26vw;
}

.thumbImgDiv {
    background-color: #fff;
    width: 13.6vw;

}

.thumbImg {
    width: 13vw;
    margin: 0.3vw;
}

.secondSection {
    background-color: aqua;
}